<nav class="navbar">
  <a href="/" class="StartPage">Start</a>
  <div class="nav-right">
    <a href="/veiledning">Veiledning</a>
    <% if (user) { %>
      <a href="/profile/:username" class="profile">profile</a>
      <a href="/logout">Logout</a>
    <% } else { %>
      <a href="/login" class="Login">Login</a>
    <% } %>
  </div>
</nav>