<%- include('./partials/head') %> <%- include('./partials/header') %>
<body>
  <% if(user){ %>
    <h1>Hello <%=user.username%></h1>
    <% } else{ %>
      <h1>Hello</h1>
      <h2>Please log in</h2>
      <% } %>
</body>
