<%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="/css/auth.css" />
<body>
  <%- include('./partials/header.ejs') %>

  <section class="form">
    <form action="/login" method="POST">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" />
      <label for="">Password</label>
      <input type="password" name="password" id="password" />
      <button type="submit">Log In</button>
      <div class="account">
        <a href="/signup">Dont have an account?</a>
      </div>
    </form>
  </section>
</body>

<%- include('./partials/footer.ejs') %>
