<%- include('./partials/head') %>
<body>
  <%- include('./partials/header') %>
  <h1>Welcome Representant</h1>
  <div>
    <section>
      <form action="/representant" method="POST">
        <label for="elev">Elev</label>
        <select name="elev" id="elev">
          <% users.forEach(user=>{ %>
            <% if(user.role == 'user'){ %>
            <option value="<%= user._id %>">
              <%= user.username %>
            </option>
            <% }}) %>
        </select>
        <label for="feedback">Tilbakemelding</label>
        <input type="text" name="feedback">
        <button type="submit">Submit</button>
      </form>
    </section>
  </div>

</body>
