<%- include('./partials/head') %>
<link rel="stylesheet" href="/css/help.css" />
<body>
  <%- include('./partials/header') %>
  <h1>Veiledning</h1>
  <div class="container">
    <section class="intro">
      <p>
        Denne siden er laget til folk som trenger hjelp med veiledning. Desverre
        er all veiledningen på en side. Det betyr at det er veiledning for
        vanlige brukere, administratorer og representater på denne siden alene.
        Hvis du er en administratorer eller representant må du gå lenger ned på
        siden for å finne det du trenger hjelp med.
      </p>
    </section>
    <section class="bruker">
      <h2>Brukere</h2>
      <p>
        Hvis du er en elev er du en så kalt bruker. Du får ikke sett andre sine
        info bare din egen. Får å se din egen info må du logge deg inn. Du
        logger deg inn ved å trykke på log in knappen oppe i høyre hjørne sånn
        som på bilde nedenfor
      </p>
      <img src="/img/img_1.png" alt="" />
      <p>
        Når du har trykker på log in burde du få opp et skjema sånn som på bilde
        under. Da logger du inn med brukeren din. Så brukernavn og passordet.
        Hvis du ikke har en burker trykker du på lenken under som står "Dont
        have an account?". Hvis du trykket på lenken blir du tatt til en annen
        side
      </p>
      <img src="/img/img_2-edit.png" alt="" />
      <p>
        Hvis du trykket lenken kommer du inn på en side som ser ut som bilde
        under. Her må du fylle ut skjema så du må skrive brukernavnen du vil ha.
        passordet dit to ganger for å være sikker på at du skrev det riktig
      </p>
      <img src="/img/img_3.png" alt="" />
      <p>
        Når du har enten logget it eller registrer deg kommer du tilbake til
        hovedsiden, men nå kan du se to nye knappe ri høyre hjørne. Får å se
        ditt info trykker du på profil oppe i hjørne.
      </p>
      <img src="/img/img_4.png" alt="" />
      <p>
        Hvis du trykker in på profilen din får du enten en blå box med ingenting
        eller så får du info om bedriften, hvilke stilling du er og hvem
        representanten din er
      </p>
      <img src="/img/img_5.png" alt="" />
    </section>
    <section class="admin">
      <h2>Admin</h2>
      <p>
        Får å være administratorer må du få tilgang av ledelsen. Du kan ikke
        registrere en ny bruker til å være admin. Hvis du er admin finnes det
        ikke noe knapp til admin pagen. Du må gå oppe i searchbaren og søke
        /admin bak det som står. Nå start det localhost:3000 så da må du skrive
        "localhost:3000/admin"
      </p>
      <img src="/img/img_6.png" alt="" />
      <p>
        Når du er inne på admin pagen ser du et skjema. På det skjemaet kan du
        velge en elev som har registrert seg. Så skriver du hvike adbeidsplass
        de er på. Etter det kan du velge om det er lærlingsplass eller
        praksisplass. Til slutt må du velge hvem som er representant for den
        bedriften. Når du klikker "Submit" kommer eleven til å få det inne på
        sin profil
      </p>
      <img src="/img/img_7.png" alt="" />
    </section>
  </div>
</body>
